* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: rgb(187, 172, 152);
}

ul {
  background-color: gray;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  text-align: middle;
  width: 500px;
}

li {
  font-size: 2em;
  list-style-type: none;
  background-color: inherit;
}
