* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  margin: 1rem;
  color: gray;
  font-size: 3rem;
  text-align: center;
  border-right: 2px solid darkgray;
  border-bottom: 2px solid darkgray;
  width: 400px;
  box-shadow: 3px 3px 5px gray;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 400px;
  height: 300px;
  margin: 10px;
  box-shadow: 4px 4px 6px black;
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}
