* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  margin-top: 30px;
  margin-left: 20px;
  line-height: 30px;
}

.price {
  font-size: 40px;
  font-weight: 500;
}

.currency {
  font-size: medium;
  color: gray;
}

.price_value {
  color: green;
  font-weight: 600;
}

.after_hours {
  margin-top: 5px;
  color: gray;
}

.price_decrease {
  color: #ff0000;
}
