body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-left: 20px;
  margin-top: 20px;
  width: 500px;
}

.username {
  color: gray;
  font-weight: 400;
  font-size: 0.9em;
}

.content-post {
  margin-top: 10px;
}

.inner-wrapper {
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: rgb(50, 157, 193);
}
