footer a {
  text-decoration: none;
}

footer img {
  height: 50px;
}

.footer-link-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-links a {
  margin-left: 50px;
}

.footer-links a img {
  height: 70px;
  align-items: center;
  margin-bottom: 30px;
}
