.container-1{
    display: flex;
    flex-direction: column;
    width: 350px;
    border-color: gray;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.288);
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}


.inner1, .inner2, .inner3{
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    margin-right: 15px;
}

.inner1, .inner2{
    margin-bottom: 15px;
}

.home-1{
    padding-bottom: 3px;
    padding-top: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 13px;
    color: white;
    background-color: rgba(0, 0, 255, 0.678);
}

.messages2{
    padding-bottom: 3px;
    padding-top: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 255, 0.678);
}

.notify2{
    padding-bottom: 3px;
    padding-top: 4px;
    padding-right: 13px;
    padding-left: 13px;
    border-radius: 15px;
    color: white;
    background-color: rgba(0, 0, 255, 0.678);
}


.home, .home-1, .notify, .notify2, .messages, .messages2{
    font-family: roboto, Arial;
    font-weight: 600;
    font-size: large;
}

/* different Sections */

.other-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(76, 0, 130, 0.507);
    height: 50px;
    align-items: center;
    width: 900px;
    
}

.home2{
    font-family: Arial;
    color: white;
    font-weight: bold;
    width: 150px;
    margin-left: 20px;
}

.bar{
    display: flex;
    flex: 1;
}

.search{
    width: 500px;
    height: 25px;
    border-radius: 40px;
    border: none;
    padding-left: 20px;
    font-size: large;
    font-family: Arial;
}

.download{
    width: 100px;
    margin-right: 10px;
}

.download2{
    background-color: rgba(76, 0, 130, 0.507);
    border-color: white;
    border-style: solid ;
    border-width: 1px;
    height: 33px;
    width: 100px;
    color: white;
    font-family: Arial;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.288);
}
.download2:hover{
    background-color: rgba(76, 0, 130, 0.199);
}
.download2:active{
    box-shadow: none;
}